body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgba(137, 134, 134, 0.379);
    margin: 0;
    /* background-color: #ffffff; Optional background color */
}
.outer{
    background-color: rgb(107, 107, 229);
    padding: 30px;
    font-size: 4vh;
    border-radius: 10px;
    font-family: cursive;
}
.show{
    background-color: black;
    /* padding: 25px; */
    width: 343px;
    border-radius: 9px;
    margin-left: 21px
}
.show input{
    height: 35px;
    justify-content: center;
    justify-content: center;
    margin: 10px;
    margin-left: 14px;
    width: 215px;
    border-radius: 5px;

}
.show button {
    padding: 8px;
    height: 35px;
    border-radius: 5px;
    background-color: #ffffff; 
    color: rgb(0, 0, 0); 
    border: none; 
    transition: background-color 0.2s ease; 
}

.show button:active {
    background-color: #fff0c5; 
    transform: translateY(2px); 
}


.boxes {
    display: flex;
}

.dates {
    margin: 20px;
    height: 91px;
    width: 87px;
    border-radius: 8px;
    background-color: black;
    color: white;
    display: flex; 
    flex-direction: column; 
    justify-content: center;
    align-items: center; 
}

.dates p {
    font-size: 3vh;
    margin: 0; 
    text-align: center; 
}
#heading{
    margin-left: 70px;
}