body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgba(137, 134, 134, 0.379);
    margin: 0;
    /* background-color: #ffffff; Optional background color */
}
.outer{
    background-color: rgb(107, 107, 229);
    padding: 30px;
    font-size: 4vh;
    border-radius: 10px;
    font-family: cursive;
}
.show{
    background-color: black;
    /* padding: 25px; */
    width: 343px;
    border-radius: 9px;
    margin-left: 21px
}
.show input{
    height: 35px;
    justify-content: center;
    justify-content: center;
    margin: 10px;
    margin-left: 14px;
    width: 215px;
    border-radius: 5px;

}
.show button{
    padding: 8px;
    height: 40px;
    border-radius: 5px;

}
.boxes{
    display: flex;
}
.dates{
    margin: 20px;
    height: 91px;
    width: 87px;
    border-radius: 8px;
    background-color: black;
    color: white;
}
.dates p{
    font-size: 3vh;
    margin-left: 22px;
}